{{#if (get changeset.error property)}}
    {{#if (gte focused 2) }}
        <i class="form-control-feedback icon-warning-solid"></i>
    {{/if}}
    <div class="feedback-wrapper {{unless (odd focused) 'sr-only'}}">
        <small class={{if (lte focused 1) "hint" "help-block"}}>
            <ul>
                {{#each (get (get changeset.error property) "validation") as |message|}}
                    <li><span>{{message}}</span></li>
                {{/each}}
            </ul>
        </small>
    </div>
{{/if}}
